<ion-header>
  
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>ສົກຮຽນແຕ່ລະພາກ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <ion-list routerLink="/student-point-months">
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ7</h2>
        </div>
        <div class="classright">
          <h2>ສົກຮຽນ:2023-2024</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ເປິດພາກຮຽນ</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ6</h2>
        </div>
        <div class="classright">
          <h2>ສົກຮຽນ:2022-2023</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ປິດພາກຮຽນ</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
  <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ5</h2>
        </div>
        <div class="classright">
          <h2>ສົກຮຽນ:2021-2022</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ຈົບພາກຮຽນ</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ  ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ4</h2>
        </div>
        <div class="classright">
          <h2>ສົກຮຽນ:2019-2020</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ຈົບພາກຮຽນ</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ  ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ3</h2>
        </div>
        <div class="classright">
          <h2>ສົກຮຽນ:2018-2019</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ຈົບພາກຮຽນ</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ  ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ2</h2>
        </div>
        <div class="classright">
          <h2>ສົກຮຽນ:2017-2018</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ຈົບພາກຮຽນ</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ  ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ1</h2>
        </div>
        <div class="classright">
          <h2>ສົກຮຽນ:2016-2016</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ຈົບພາກຮຽນ</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
  </section>
</ion-content>
