<ion-header class="ion-no-border">
  <ion-toolbar >
     <ion-buttons slot="start">
       <ion-back-button></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" color="light" fullscreen>  

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <div class="ion-text-center img" >
          <img src="../../assets/Images/logo.png" alt="">
        </div>
        <div class="ion-text-center img">
          <h2>WeChool</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center img-qr">
          <img src="../../assets/Images/scanqr.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding class="login-btn">  
    <ion-button size="large" color="primary" expand="block">ສະເເກນຄິວອາໂຄດ</ion-button>  
  </div>  
</ion-content>  
