<ion-header>
  
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>ຄະເເນນເເຕ່ລະເດືອນ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <ion-list routerLink="/student-point-subject">
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ7</h2>
        </div>
        <div class="classright">
          <h2>ເສັງປະຈໍາເດືອນ 9</h2>
          <p>ຄຸນສົມບັດ: ດີ</p>
          <h2 class="status" color="primary">ຄະເເນນສະເລ່ຍ: 3.6</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list routerLink="/student-point-months">
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ7</h2>
        </div>
        <div class="classright">
          <h2>ເສັງປະຈໍາເດືອນ 10</h2>
          <p>ຄຸນສົມບັດ: ດີ</p>
          <h2 class="status" color="primary">ຄະເເນນສະເລ່ຍ: 2.6</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list routerLink="/student-point-months">
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ7</h2>
        </div>
        <div class="classright">
          <h2>ເສັງປະຈໍາເດືອນ 11</h2>
          <p>ຄຸນສົມບັດ: ດີ</p>
          <h2 class="status" color="primary">ຄະເເນນສະເລ່ຍ: 2.6</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list routerLink="/student-point-months">
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ7</h2>
        </div>
        <div class="classright">
          <h2>ເສັງປະຈໍາເດືອນ 12</h2>
          <p>ຄຸນສົມບັດ: ດີ</p>
          <h2 class="status" color="primary">ຄະເເນນສະເລ່ຍ: 2.6</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list routerLink="/student-point-months">
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ໂຮງຮຽນ:ມສ ສາທິດ</p>
          <h2>ຊັ້ນ:ມ7</h2>
        </div>
        <div class="classright">
          <h2>ເສັງປະຈໍາເດືພາກຮຽນທີ 1</h2>
          <p>ຄຸນສົມບັດ: ດີ</p>
          <h2 class="status" color="primary">ຄະເເນນສະເລ່ຍ: 2.6</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
  </section>
</ion-content>
