<ion-header>
  
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>ຄະເເນນເເຕ່ລະວີຊາ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>ວິຊາພາສາລາວ</ion-label>
      <ion-text color="primary">ຄະເເນນເຕັມ: 9 </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>ວິຊາພາສາລາວ</ion-label>
      <ion-text color="primary">ຄະເເນນເຕັມ: 5 </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>ວິຊາພາສາລາວ</ion-label>
      <ion-text color="primary">ຄະເເນນເຕັມ: 7 </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>ວິຊາພູມສາດ</ion-label>
      <ion-text color="primary">ຄະເເນນເຕັມ: 8 </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>ວິຊາຄະນິດສາດ</ion-label>
      <ion-text color="primary">ຄະເເນນເຕັມ: 10 </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>ວິຊາສຶກສາພົນລະເມືອງ</ion-label>
      <ion-text color="primary">ຄະເເນນເຕັມ: 6 </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>ວິຊາພາສອັງກິດ</ion-label>
      <ion-text color="primary">ຄະເເນນເຕັມ: 5 </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>ວິຊາເລຂາຂະນິດ</ion-label>
      <ion-text color="primary">ຄະເເນນເຕັມ: 9 </ion-text>
    </ion-item>
    <ion-item lines=none>
      <ion-text color="primary" slot="end">ຈໍານວນຄົນໃນຫ້ອງ: 54 ຄົນ</ion-text>
    </ion-item>
    <ion-item lines=none>
      <ion-text color="primary" slot="end">ຄະເເນນລວມ: 85 </ion-text>
    </ion-item>
    <ion-item lines=none>
      <ion-text color="primary" slot="end">ຄະເເນນສະເລ່ຍ: 8.5 </ion-text>
    </ion-item>
    <ion-item lines=none>
      <ion-text color="primary" slot="end">ລໍາດັບທີ່: 8 </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
