<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2>ກຳນົດຈ່າຍຄັ້ງຕໍ່ໄປ</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h2>ກຳນົດຈ່າຍຄັ້ງຕໍ່ໄປ</h2>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <section>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ວັນທີ່:12-2-2021</p>
          <h2>ບິນ:00000000001</h2>
        </div>
        <div class="classright">
          <h2>150.0000ກີບ</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ກຳລັງດຳເນີນການ...</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ວັນທີ່:12-2-2021</p>
          <h2>ບິນ:00000000001</h2>
        </div>
        <div class="classright">
          <h2>150.0000ກີບ</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ກຳລັງດຳເນີນການ...</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ວັນທີ່:12-2-2021</p>
          <h2>ບິນ:00000000001</h2>
        </div>
        <div class="classright">
          <h2>150.0000ກີບ</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ກຳລັງດຳເນີນການ...</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ວັນທີ່:12-2-2021</p>
          <h2>ບິນ:00000000001</h2>
        </div>
        <div class="classright">
          <h2>150.0000ກີບ</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ກຳລັງດຳເນີນການ...</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ວັນທີ່:12-2-2021</p>
          <h2>ບິນ:00000000001</h2>
        </div>
        <div class="classright">
          <h2>150.0000ກີບ</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ກຳລັງດຳເນີນການ...</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
      <ion-col size="12">
        <div class="classleft">
          <h2>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h2>
          <p>ວັນທີ່:12-2-2021</p>
          <h2>ບິນ:00000000001</h2>
        </div>
        <div class="classright">
          <h2>150.0000ກີບ</h2>
          <p>ຄ່າເທີມ</p>
          <h2 class="status" color="primary">ກຳລັງດຳເນີນການ...</h2>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
  </section>
</ion-content>

