<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ຄະເເນນເເຕ່ລະວີຊາ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div class="profile ion-text-center">
          <img src="../../assets/Images/student.jpg" alt="" />
        </div>
        <div class="name ion-text-center">
          <h1>ທ້າວ ອານຸສິດ ກິດຕະວົງ</h1>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item>
          <ion-label>ວັນເດືອນປີເກີດ:</ion-label>
          <ion-text color="primary"> 12-02-2003 </ion-text>
        </ion-item>
        <ion-item>
          <ion-label>ເພດ:</ion-label>
          <ion-text color="primary">
            ຊາຍ
            </ion-text>
        </ion-item>
        <ion-item>
          <ion-label>ຊັ້ນຮຽນ:</ion-label>
          <ion-text color="primary">
            ມໍ 4
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label>ອາໃສຢູ່ບ້ານ:</ion-label>
          <ion-text color="primary">
            ໜອງບອນ
          </ion-text>
        </ion-item>
        <ion-item lines=none>
          <ion-label>ເບີຜູ້ປົກຄອງ:</ion-label>
          <ion-text color="primary">
            02054515993
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
